@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Merienda:wght@300&family=Montserrat:ital,wght@1,300&family=Nunito:ital,wght@0,200;1,300&family=Playfair&display=swap");

/* 
  <img
  width="300px"
  src="images/Capture.PNG"
  alt="image for homepage"
  />
*/

body {
  background-color: RGB(120, 61, 89, 0.2);
  font-size: 15px;
}
#content {
  max-width: 1200px;
  margin: 0 auto;
}

/*  ********************************* Header *********************************  */
#header-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  background-color: RGB(120, 61, 89, 0.57);
  box-shadow: 5px 5px 10px #f8f4b8;
  border-radius: 5px;
}

#personal_photo-box {
  grid-column: 1/2;
  grid-row: 1/2;
}
#personal_photo {
  margin: 10px;
  padding: 1px;
  border-radius: 50%;
  width: 130px;
  box-shadow: 5px 5px 10px #f8f4b8;
}
#nav-box {
  color: #783d59;
  border-radius: 3px;
  grid-column: 2/5;
  grid-row: 2/3;
  padding-bottom: 10px;
  background-color: RGB(120, 61, 89, 0.01);
  font-family: Merienda;
  font-weight: 700;
  font-size: large;
}
a {
  color: #783d59;
}
nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
a {
  color: white;
}
nav a:hover :visited {
  color: RGB(120, 61, 89, 0.57);
  /* background-color: #aabd8c; */
  background-color: #ffffcf;
  text-decoration: none;

  display: flex;
  justify-content: space-around;
}
#logo-box {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: center;
}
#logo {
  width: 200px;
}

/*  ********************************* Main *********************************  */
#main-grid {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px;
}
#home-text {
  grid-column: 1/10;
  grid-row: 1/2;
}

p {
  font-family: Merienda;
  padding: 0 35px;
}

#images {
  box-sizing: border-box;
  text-align: center;
}

#picture1-box {
  grid-column: 2/5;
  grid-row: 2/3;
  width:343px;
}
#picture2-box {
  grid-column: 6/9;
  grid-row: 2/3;
  width:343px;
}
#picture1:hover,
#picture2:hover {
  opacity: 0.9;
  /* transform: scale(1.05); */
  grid-column: 6/9;
  grid-row: 2/3;
}

#picture1-box,
#picture2-box {
  background-color: #396e94;
  padding: 15px;
}

/*  ********************************* Footer *********************************  */

footer {
  background-color: RGB(120, 61, 89, 0.57);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: RGB(120, 61, 89, 0.57);
  padding: 15px;
  color: white;
  margin: 20px;
}
footer p a:hover {
  text-decoration: underline;
  padding-top: 15px;
}

footer .social img {
  padding-top: 15px;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

/*  ********************************* Projects *********************************  */
#mainprojects-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 140px;
}
#projects-title {
  font-size: 1em;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  margin: 10px;
}
#title1 #title2 {
  padding: 20px;
  margin: 10px;
}

#project1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
#project2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#image1 {
  grid-column: 1/2;
  grid-row: 3/4;
  position: relative;
  text-align: center;
}

#image2 {
  grid-column: 2/2;
  grid-row: 3/4;
  position: relative;
  text-align: center;
}

#img1,
#img2 {
  border: 10px solid #396e94;
}

#image1:hover,
#image2:hover {
  opacity: 0.9;
  /* transform: scale(1.05); */
}
