<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/test.css" />
  </head>
  <body>
    <div id=""main-container">
        <div id="top-menu">


        </div>
         <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> 
    <div id="slide-show">
        <p>hola 3 PURPULE</p>
    </div>
    
    </div>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
      
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
  </body>
</html>
